body {
    background-image: url(https://cdn.newsapi.com.au/image/v1/e1f5bf097e57e54a28bdbdeb62590359);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 15px 10px 30px rgba(214, 145, 16, 0.397);
}

.statisticLabel {
    color: rgb(1, 0, 130);
    font-weight: bold;
}

.hide {
    display:none;
}

.container {
    border: 1px solid black;
}

.statisticLabel, .playerName {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.playerName {
    text-decoration: underline;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn {
    margin-bottom: 5px;
}

#playerOne_currentHealth, #playerTwo_currentHealth {
    min-width: 100%;
}

.disabled {
    color: black;
    background-color: blue;
}

.title_container{
    color: blue;
}

.row {
    padding-bottom: 0;
    margin-bottom: 0;
}

.inputField {
    color: black;
    font-weight: bold;
    background-color: rgba(211, 16, 16, 0.7);
    padding: 1px;
    border-radius: 30px;
    text-align: center;
}

.container .inputField {
    width: 100%;
    /* clear: both; */
}

.btn {
    overflow: hidden;
}